* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    height: 100vh;
    gap: 15px;
    padding: 15px;
    background: #f5f5f5;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 0.5fr 6fr 0.5fr;
}
header {
    background: #3498db;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;
    display: grid;
    grid-column: 1/span 3;

}
nav {
    background: #2ecc71;
    padding: 15px;
}
main {
    background: #ecf0f1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    display: grid;
    grid-template-rows: 0fr 0fr 2fr;
}
.article {
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.masonry {
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(7,1fr);
}
.masonry .grid-item {
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.masonry .wide {
    grid-column: 1/span 2;
    grid-row: 1/span 1;
}
.masonry .wide2 {
    grid-column: 1/span 2;
    grid-row: 5/span 1;
}
.masonry .tall {
    grid-row: 2/span 2;
}
.masonry .tall2 {
    grid-row: 6/span 2;
}
.masonry .large {
    grid-column: 2/span 2;
    grid-row: 3/span 2;
}
.masonry .small {
    grid-row: 2;
}
.masonry .small2 {
    grid-row: 5;
}
.masonry .common{
    grid-row: 1;
}
.masonry .common2{
    grid-row: 4;
}
aside {
    background: #f39c12;
    padding: 15px;
    color: white;
}
footer {
    background: #e74c3c;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    display: grid;
    grid-column: 1/span 3;
}
